<!DOCTYPE html>
<html>
  <head>
    <!-- inject html template -->
    {{> meta.mobile.hbs }}
    <title>meet nomadic</title>
    {{> style.reset.hbs }}
    {{> style.rem.hbs }}
  </head>
  <body>
    <div id="app"></div>
    {{> script.static.hbs }}
  </body>
</html>
