<!DOCTYPE html>
<html>
  <head>
    <!-- inject html template -->
    {{> meta.desktop.hbs }}
    <meta name="description" content="Example for muti page template">
    <title>The Scream 1893</title>
  </head>
  <body>
    <h1>The Scream</h1>
    <div class="painter">
    </div>
    <div class="describ">
      <p>"I was walking along the road with two friends the sun was setting suddenly the sky turned blood red I paused, feeling exhausted, and leaned on the fence there was blood and tongues of fire above the blue-black fjord and the city my friends walked on, and I stood there trembling with anxiety and I sensed an infinite scream passing through nature."</p>
      <p>Edvard Munch</p>
    </div>
    {{> meta.static.hbs }}
  </body>
</html>
