<!DOCTYPE html>
<html>
  <head>
    <!-- inject html template -->
    {{> meta.mobile.hbs }}
    <title>提额小锦囊</title>
  </head>
  <body>
    <div id="app"></div>
    <div id="modal-warpper"></div>
    {{> script.static.hbs }}
  </body>
</html>
